<!doctype html>
<html
  th:lang="|${#locale.language}-${#locale.country}|"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="htmx-config" content='{"timeout": 1000}' />
    <link rel="stylesheet" th:href="@{/css/application.css}" />
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  </head>
  <body>
    <div class="container mx-auto max-w-2xl mt-4">
      <main layout:fragment="content"></main>
    </div>

    <script
      type="text/javascript"
      th:src="@{/webjars/alpinejs/dist/cdn.min.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/webjars/htmx.org/dist/htmx.min.js}"
    ></script>
    <script
      type="text/javascript"
      th:src="@{/webjars/sortablejs/Sortable.min.js}"
    ></script>
    <th:block layout:fragment="script-content">
      <script>
        let subtasks = document.getElementById("subtasks");
        new Sortable(subtasks, {
          animation: 150,
          ghostClass: "bg-blue-300",
          handle: ".sortable-handle",
        });
      </script>
    </th:block>
    <th:block layout:fragment="script-content">
      <script th:inline="javascript">
        const token = /*[[${_csrf.token}]]*/ "sample-csrf-token";
        const headerName = /*[[${_csrf.headerName}]]*/ "X-Sample-CSRF-Header";
        document.addEventListener("htmx:configRequest", (evt) => {
          evt.detail.headers[headerName] = token;
        });
      </script>
    </th:block>
  </body>
</html>
