@tailwind base;
@tailwind components;
@tailwind utilities;

.table-header-first-column {
  @apply py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0;
}

.table-header {
  @apply px-3 py-3.5 text-left text-sm font-semibold text-gray-900;
}

.table-value-first-column {
  @apply whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0;
}

.table-value {
  @apply whitespace-nowrap px-3 py-4 text-sm text-gray-500;
}

.button-primary {
  @apply block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold
  text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2
  focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
}
