<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
>
  <!--/*@thymesVar id="item"
type="com.wimdeblauwe.examples.todomvcthymeleaf.todoitem.web.TodoItemController.TodoItemDto"*/-->
  <li
    th:fragment="todoItem(item)"
    th:classappend="${item.completed?'completed':''}"
    th:id="|list-item-${item.id}|"
  >
    <div class="view">
      <input
        th:id="|toggle-checkbox-${item.id}|"
        class="toggle"
        type="checkbox"
        th:attrappend="checked=${item.completed ? 'true' : null}"
        hx:put="@{/todo/{id}/toggle(id=${item.id})}"
        hx:target="|#list-item-${item.id}|"
        hx-trigger="click"
        hx-swap="outerHTML"
      />
      <label th:text="${item.title}">Taste JavaScript</label>
      <button
        class="destroy"
        hx:delete="@{/todo/{id}(id=${item.id})}"
        hx:target="|#list-item-${item.id}|"
        hx-trigger="click"
        hx-swap="outerHTML"
      ></button>
    </div>
    <!-- <input class="edit" value="Create a TodoMVC template" /> -->
  </li>

  <span
    th:fragment="active-items-count"
    hx:get="@{/todo/active-items-count}"
    hx-swap="outerHTML"
    hx-trgger="itemAdded from:body, itemCompletionToggled from:body, itemDeleted from:body"
  >
    <th:block th:unless="${numberOfActiveItems == 1}">
      <span class="todo-count"
        ><strong th:text="${numberOfActiveItems}">0</strong> items left</span
      >
    </th:block>
    <th:block th:if="${numberOfActiveItems == 1}">
      <span class="todo-count"><strong>1</strong> item left</span>
    </th:block>
  </span>

  <div th:fragment="result">
    <div role="alert">
      <div th:text="${fact}"></div>
    </div>
  </div>

  <template th:fragment="error-message" id="htmx-request-error">
    <div
      class="flex items-center bg-red-100 border-red-400 text-red-700"
      role="alert"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1
.063.016.146.146 0 0 1 .054.057l6.857
11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-
.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0
0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13
0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0
1.438-.99.98-1.767L8.982 1.566z"
        />
        <path
          d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1
5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"
        />
      </svg>
      <div class="ms-2">There was an error during the update.</div>
    </div>
  </template>
  <template th:fragment="timeout-message" id="htmx-timeout">
    <div
      class="flex items-center bg-orange-100 border-l-4 border-orange-500"
      role="alert"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        viewBox="0 0 16 16"
      >
        <path
          d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1
.063.016.146.146 0 0 1 .054.057l6.857
11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-
.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0
0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13
0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0
1.438-.99.98-1.767L8.982 1.566z"
        />
        <path
          d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1
5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"
        />
      </svg>
      <div class="m-2">There was a timeout waiting on the request.</div>
    </div>
  </template>
</html>
