<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <th:block th:fragment="repositories">
    Github Repositories
    <sl-tree-item th:each="repository : ${repositories}">
      <span th:text="${repository}"></span>
    </sl-tree-item>
  </th:block>

  <th:block th:fragment="repositories">
    Github Repositories
    <sl-tree-item
      th:each="repository : ${repositories}"
      lazy
      hx-trigger="sl-lazy-load consume"
      hx:get="@{/repositories/{name}/releases(name=${repository})}"
    >
      <span th:text="${repository}"></span>
    </sl-tree-item>
  </th:block>

  <th:block th:fragment="releases">
    <span th:text="${repositoryName}"></span>
    <sl-tree-item th:if="${releases.empty}" disabled>
      No releases found
    </sl-tree-item>
    <sl-tree-item th:each="release : ${releases}">
      <span th:text="${release.name}"></span>
    </sl-tree-item>
  </th:block>
</html>
