<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
  xmlns:hx="http://www.w3.org/1999/xhtml"
>
  <body>
    <div layout:fragment="content">
      <div class="m-4" hx-ext="sse" sse-connect="/upload/progress">
        <form
          hx-encoding="multipart/form-data"
          hx:post="@{/upload}"
          hx-disabled-elt=".disable-during-request"
          hx-swap="none"
          hx-include=".post-csrf-token"
        >
          <input
            type="file"
            name="file"
            class="file-input file-input-bordered w-full max-w-xs disable-during-request"
          />
          <input
            class="post-csrf-token"
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />
          <button class="btn btn-primary disable-during-request">Import</button>
        </form>
        <div class="text-gray-700 mt-4">Progress log:</div>
        <div
          id="progress-log"
          class="mt-4 p-2 h-96 font-mono bg-gray-700 text-gray-100 overflow-y-auto"
          sse-swap="message"
          hx-swap="beforeend"
          hx-on::after-settle="this.scrollTo(0, this.scrollHeight);"
        ></div>
      </div>
    </div>
    <th:block layout:fragment="script-content">
      <script
        type="text/javascript"
        th:src="@{/webjars/htmx.org/dist/ext/sse.js}"
      ></script>
    </th:block>
  </body>
</html>
